Repository lmachens/vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix --cache",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,html,json,md,mdx}": "prettier --write"
}

🔧 Include src/app only
  tsconfig.json
Due: prettier --write

📝 Add usage guide
  README.md
Due: prettier --write

📄 Create MIT license
  LICENSE
Due: none

⬆️ Upgrade Husky to v7
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

🔨 Use ts-node-dev for automatic restarts on code change
  package-lock.json
  package.json
Due: prettier --write

✨ Add API example
  src/lib/router.ts
  src/server.ts
Due: eslint --fix --cache, prettier --write

✨ Add proxy for /api
  .storybook/middleware.js
  README.md
  package-lock.json
  package.json
  src/server.ts
  vite.config.js
Due: eslint --fix --cache, prettier --write

✨ Add example component with /api access
  src/app/components/Welcome/Welcome.module.css
  src/app/components/Welcome/Welcome.stories.tsx
  src/app/components/Welcome/Welcome.tsx
Due: eslint --fix --cache, stylelint --fix, prettier --write

🔨 Add concurrently
  README.md
  package-lock.json
  package.json
Due: prettier --write

✨ Load Welcome on client to demonstrate API usage
  src/app/App.tsx
Due: eslint --fix --cache, prettier --write

📝 Add notes about PORT environment variable
  README.md
Due: prettier --write

📝 Fix storybook port
  README.md
Due: prettier --write

🐛 Handle client routing
  src/server.ts
Due: eslint --fix --cache, prettier --write

🔧 Add .env example
  .env.example
  README.md
Due: prettier --write

⬆️ Upgrade all dependencies
  package-lock.json
  package.json
Due: prettier --write

⬆️ Upgrade all dependencies
  .husky/pre-commit
  .storybook/main.js
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/App.module.css
  src/app/globals.css
Due: eslint --fix --cache, stylelint --fix, prettier --write

All components updated to their latest version
  .eslintrc.json
  .prettierrc.json
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  .vscode/settings.json
  README.md
  index.html
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/components/Button/Button.module.css
  src/app/components/Button/Button.stories.ts
  src/app/components/Button/Button.stories.tsx
  src/app/components/Button/Button.tsx
  src/app/components/Button/button.css
  src/app/components/Header/Header.stories.ts
  src/app/components/Header/Header.tsx
  src/app/components/Header/header.css
  src/app/components/Layout/Layout.stories.tsx
  src/app/components/Layout/Layout.tsx
  src/app/components/Page/Page.stories.ts
  src/app/components/Page/Page.tsx
  src/app/components/Page/page.css
  src/app/main.tsx
  vite.config.js
  yarn-error.log
  yarn.lock
Due: eslint --fix --cache, stylelint --fix, prettier --write

Minor changes
  .gitignore
Due: none

Minor changes
  .eslintrc.json
  .storybook/middleware.js
  src/app/globals.css
  tsconfig.json
  yarn-error.log
Due: eslint --fix --cache, stylelint --fix, prettier --write

Unknown prettier option removed
  .prettierrc.json
Due: prettier --write

Github workflows introduced
  .github/workflows/check.yml
  package.json
Due: prettier --write

@chakra-ui/theme patch
  .stylelintrc.json
  package.json
  patches/@chakra-ui+theme+3.1.1.patch
  yarn.lock
Due: prettier --write

patch fix
  .vscode/settings.json
  patches/@chakra-ui+theme+3.1.1.patch
Due: prettier --write

production build fix
  .storybook/main.ts
  index.html
  package.json
  src/app/components/Layout/Layout.stories.tsx
  src/app/components/Welcome/Welcome.stories.tsx
  src/server.ts
  yarn.lock
Due: eslint --fix --cache, prettier --write

Some cleanup
  .storybook/main.ts
  package.json
  patches/@chakra-ui+theme+3.1.1.patch
  src/app/App.tsx
  src/app/components/Layout/Layout.stories.tsx
  src/app/components/Layout/Layout.tsx
  src/app/main.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix --cache, prettier --write

Update package.json
  package.json
Due: prettier --write
