Repository lmachens/vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix --cache",
  "*.css": "stylelint --fix",
  "*.{js,css,html,json,md,svg}": "prettier --write"
}

🙈 Ignore .eslintcache
  .eslintignore
  .gitignore
  .prettierignore
Due: none

📝 Add README.md
  README.md
Due: prettier --write

:heavy_plus_sign: Add TypeScript
  package-lock.json
  package.json
Due: prettier --write

:recycle: Convert js in ts
  index.html
  main.ts
Due: prettier --write

:heavy_plus_sign: Add eslint typescript support
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

:label: Add tsconfig
  index.html
  src/main.ts
  src/style.css
  tsconfig.json
Due: stylelint --fix, prettier --write

:label: Add Node types
  .eslintrc.json
  package-lock.json
  package.json
  src/server.ts
  tsconfig.json
Due: prettier --write

:art: Add server
  index.html
  package-lock.json
  package.json
  src/app/main.ts
  src/app/style.css
  tsconfig.server.json
Due: stylelint --fix, prettier --write

:see_no_evil: Add stylelint ignore list
  .stylelintignore
Due: none

➕ Add Typescript support (#1)
  .eslintrc.json
  .stylelintignore
  index.html
  package-lock.json
  package.json
  src/app/main.ts
  src/app/style.css
  src/server.ts
  tsconfig.json
  tsconfig.server.json
Due: stylelint --fix, prettier --write

➕ Install react and react-dom with types
  package-lock.json
  package.json
Due: prettier --write

🔧 Fast refresh for react in vite
  vite.config.js
Due: eslint --fix --cache, prettier --write

🔧 Update tsconfig for react
  tsconfig.json
Due: prettier --write

💄 Rename style file
  src/app/globals.css
Due: stylelint --fix, prettier --write

🎨 Move favcion to app folder an rename id to match react
  index.html
  src/app/favicon.svg
Due: prettier --write

🔧 Remove svg from lint-staged
  .lintstagedrc.json
Due: prettier --write

🔧 Update package-lock.json
  package-lock.json
Due: prettier --write

♻️ Refactor main.tsx to use react
  src/app/main.ts
  src/app/main.tsx
Due: none

✨ Create react starter
  src/app/App.module.css
  src/app/App.tsx
  src/app/globals.css
  src/app/logo.svg
Due: stylelint --fix, prettier --write

🔨 Move tsc to test script
  package.json
Due: prettier --write

🏷️ Add explicit type
  src/app/App.tsx
Due: none

♻️ Use querySelector
  src/app/main.tsx
Due: none

✨ Integrate react (#2)
  .lintstagedrc.json
  index.html
  package-lock.json
  package.json
  src/app/App.module.css
  src/app/App.tsx
  src/app/favicon.svg
  src/app/globals.css
  src/app/logo.svg
  src/app/main.ts
  src/app/main.tsx
  src/app/style.css
  tsconfig.json
  vite.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

👷 Add missing file types
  .lintstagedrc.json
Due: prettier --write

👷 Add missing file types (#3)
  .lintstagedrc.json
Due: prettier --write

✨ Add Storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write

➕ Support CSS modules https://github.com/negan1911/storybook-css-modules-preset
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write

✨ Add button component
  src/app/components/Button/Button.module.css
  src/app/components/Button/Button.stories.tsx
  src/app/components/Button/Button.tsx
Due: stylelint --fix, prettier --write

Add Storybook (#4)
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/app/components/Button/Button.module.css
  src/app/components/Button/Button.stories.tsx
  src/app/components/Button/Button.tsx
Due: eslint --fix --cache, stylelint --fix, prettier --write

➕ Add React-Router-Dom
  package-lock.json
  package.json
Due: prettier --write

✨ Add Router with sample routes
  src/app/App.tsx
Due: none

✨ Add MemoryRouter to storybook
  .storybook/preview.js
Due: eslint --fix --cache, prettier --write

✨ Add React-Router-Dom (#5)
  .storybook/preview.js
  package-lock.json
  package.json
  src/app/App.tsx
Due: eslint --fix --cache, prettier --write

✨ Add simple Express server
  package-lock.json
  package.json
  src/server.ts
Due: prettier --write

👷 Build storybook, app and server
  package.json
  tsconfig.server.json
  vite.config.js
Due: eslint --fix --cache, prettier --write

✨ Serve app and storybook
  src/server.ts
Due: none

🔨 Add start script
  package.json
Due: prettier --write

✏️ Update log message
  src/server.ts
Due: none

✨Add Express server (#6)
  package-lock.json
  package.json
  src/server.ts
  tsconfig.server.json
  vite.config.js
Due: eslint --fix --cache, prettier --write

💄 Add Tailwind CSS
  package-lock.json
  package.json
  postcss.config.js
  src/app/App.tsx
  src/app/main.tsx
  tailwind.config.js
Due: eslint --fix --cache, prettier --write
